/* Font Awsome Icon */
@import url("https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");
/* Google fonts */
/* General Design */
* {
  margin: 0;
  padding: 0;
  outline: none;
  text-decoration: none;
  box-sizing: border-box;
}

body {
  margin: 0;
  line-height: 1.3;
  font-size: 16px;
}
::before,
::after {
  box-sizing: border-box;
}
.btn {
  background-color: #e63131;
  padding: 10px 40px;
  font-size: 16px;
  font-weight: 500;
  color: #fff;
  border-radius: 40px;
  transition: all 0.3s ease;
  display: inline-block;
  white-space: nowrap;
  margin-right: 20px;
}
.btn:hover {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
.section {
  background-color: #f2f2fc;
  min-height: 100vh;
  display: block;
  padding: 0 30px;
}
.section .container {
  padding-top: 60px;
  padding-bottom: 70px;
}
.main-content {
  padding-left: 270px;
}
.container {
  max-width: 1100px;
  margin: auto;
}
/* .hidden {
  display: none !important;
} */
/* General Design End*/

/* Aside */
.aside {
  width: 270px;
  position: fixed;
  height: 100%;
  border-right: 1px solid #e8dfec;
  top: 0;
  left: 0;
  z-index: 10;
  padding: 30px;
  background-color: #ffffff;
}
.aside .logo {
  padding: 30px 0;
}
.aside .logo a {
  font-size: 40px;
  font-weight: 700;
  color: #302e4d;
  display: inline-block;
  position: relative;
  padding: 1px 6px;
}
.aside .logo a::before {
  content: "";
  width: 35px;
  height: 20px;
  position: absolute;
  top: 0;
  left: 0;
}
.aside .logo a::after {
  content: "";
  width: 35px;
  height: 20px;
  position: absolute;
  bottom: 0;
  right: 0;
}
.aside .nav {
  margin: 80px 0;
  list-style: none;
  padding: 5px 0;
}
.aside .nav li {
  display: block;
}
.aside .nav a {
  padding: 5px 0;
  color: black;
  font-size: 16px;
  font-weight: 600;
  line-height: 25px;
  display: block;
  border-bottom: 1px solid #e8dfec;
  transition: all 0.3s ease;
}
.aside .nav a:hover {
  padding-left: 5px;
  color: #e63131;
}
.aside .nav a .fa {
  margin-right: 5px;
}
.aside .copyright-text {
  font-size: 14px;
  color: #7d7d7d;
}

/* Home Section */
.home {
  max-height: 100vh;
  display: flex;
  display: -ms-flexbox;
}

/* Home  Section End */
/* home section start */
.intro {
  text-align: center;
  color: black;
}
.intro img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  display: inline-block;
  border: 8px solid #ffffff;
}
.social {
  margin: 5px 0;
}

.social a {
  padding: 5px 10px;
  width: 35px;
  height: 35px;
  color: black;
  position: relative;
  display: inline-block;
}
.social a:hover {
  background-color: #e63131;
  border-radius: 50%;
}
/* home section end */

/* social icon before after apply */
.social a::before {
  content: "";
  width: 35px;
  height: 35px;
  position: absolute;
  top: 0;
  left: 0;
}
.social a::after {
  content: "";
  width: 10px;
  height: 10px;
  position: absolute;
  bottom: 0;
  right: 0;
}

/* About section */
.row {
  display: flex;
  display: -ms-flexbox;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
  -ms-flex-wrap: wrap;
}
.section-title {
  flex: 0 0 100%;
  -ms-flex: 0 0 100%;
  max-width: 100%;
}
.padd-15 {
  margin-right: 15px;
  margin-left: 15px;
}
.section-title h2 {
  font-size: 40px;
  font-weight: 700;
  color: #302e4d;
  position: relative;
  margin: 0;
}
/* About section end */
/* about section before after start*/
.section-title h2 ::before {
  content: "";
  width: 50px;
  height: 4px;
  position: absolute;
  top: 100%;
  left: 0;
}
/* about section before after end*/
/* about section text start */
.padd-15 {
  margin-right: 15px;
  margin-left: 15px;
}
.row {
  margin-right: -15px;
  margin-left: -15px;
}
.about-title {
  max-width: 100%;
  margin-bottom: 60px;
}
.about-title h1 {
  font-size: 40px;
  color: #302e4d;
  font-weight: 700;
  margin: 0;
  position: relative;
}
.about-title h1::before {
  content: "";
  height: 4px;
  width: 50px;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #e63131;
}
.about-title h1::after {
  content: "";
  height: 4px;
  width: 25px;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #e63131;
  margin-top: 8px;
}
.about-content {
  /* background-color: red; */
  -ms-flex: 0 0 90%;
  flex: 0 0 90%;
  max-width: 100%;
  margin-bottom: 60px;
}
.about-text {
  max-width: 100%;
}
.about .about-content .about-text h3 {
  font-size: 24px;
  margin-bottom: 15px;
  font-weight: 700;
  color: #302e4d;
}
.about .about-content .about-text h3 span {
  color: #e63131;
}
.about .about-content .about-text p {
  font-size: 16px;
  line-height: 20px;
  color: #504e70;
  margin: 0;
}
.personal-info {
  /* background-color: red; */
  -ms-flex: 0 0 55%;
  flex: 0 0 55%;
  max-width: 55%;
}
.personal-skill {
  /* background-color: blue; */
  -ms-flex: 0 0 35%;
  flex: 0 0 35%;
  max-width: 35%;
}
.info {
  /* background-color: red; */
  -ms-flex: 0 0 45%;
  flex: 0 0 45%;
  max-width: 45%;
  font-size: 16px;
  font-weight: 600;
  color: #302e4d;
  padding: 10px 0;
  border-bottom: 1px solid #e8dfec;
}
.info span {
  font-weight: 300;
  color: #504e70;
  display: inline-block;
}
.button {
  -ms-flex: 0 0 100%;
  flex: 0 0 1000%;
  max-width: 100%;
  margin-top: 50px;
  margin-left: 40px;
  margin-bottom: 60px;
}
.education {
  -ms-flex: 0 045%;
  flex: 0 0 45%;
  max-width: 45%;
}
.experience {
  -ms-flex: 0 045%;
  flex: 0 0 45%;
  max-width: 45%;
}

.title {
  font-size: 24px;
  font-weight: 700;
  color: #302e4d;
  margin-bottom: 30px;
}
.timeline-box {
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  max-width: 100%;
}

.timeline-box {
}
.timeline {
  background-color: #fdf9ff;
  padding: 30px 15px;
  border: 1px solid #d4d4d3;
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  border-radius: 10px;
  max-width: 100%;
}

.timeline-dot {
  position: relative;
}
.timeline-item {
  padding: 20px;
  border-left: 1px solid #e63131;
  position: relative;
}
.timeline-item::before {
  content: "";
  width: 20px;
  height: 20px;
  background-color: #e63131;
  border-radius: 100%;
  top: 0%;
  left: -2%;
  position: absolute;
}
.timeline-item.last::after {
  content: "";
  width: 20px;
  height: 20px;
  background-color: #e63131;
  border-radius: 100%;
  bottom: 0%;
  left: -2%;
  position: absolute;
}
.timeline-date .fa {
  margin-right: 5px;
}
.timeline-date {
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 12px;
  color: #504e70;
}
.timeline-title {
  font-weight: 700;
  font-size: 18px;
  margin-bottom: 15px;
  text-transform: capitalize;
  color: #302e4d;
}
.timeline-text {
  font-size: 16px;
  -ms-flex: 0 0 90%;
  flex: 0 0 90%;
  max-width: 100%;
  color: #7d7d7d;
  margin-bottom: 40px;
}
/* about section text End */
